<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

<strong>Objectives:</strong>
<ul>
    <li>Popular languages data scientists use
    <li>common libraries used by data scientists
    <li>basic arithmetics in .ipynb files

Some of the popular languages that Data Scientists use are:
<ol>
    <li>Python<br>
    <li>R<br>
    <li>SQL<br>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li>NumPy
    <li>Pandas
    <li>Matplotlib</ol>

<table>
    <tr>
        <th>Data Science Tools
    </tr>
    <tr> 
        <td>RStudio
    </tr>
    <tr>
        <td>TensorFlow
    </tr>
    <tr>
        <td>Apache Hadoop
    </tr>

<h3>Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

<h2>Author<br><br>

Yunze Tony Zhu